
/*custom scrollbar visbility in data html*/
/*css from https://mdbootstrap.com/docs/jquery/tables/scroll/*/
.my-custom-scrollbar {
  position: relative;
  height: 1000px;
  overflow: auto;
  width: 1200px;
}
.table-wrapper-scroll-y {
  display: block;
}

Scrollbar edit in data html table
css from https://mdbootstrap.com/docs/jquery/javascript/scroll/
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #95989b; 
}
.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #e3e4e6; 
}

